/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* External CSS Import */
/* Removed the @import rule for external CSS as it's already included */

/* CSS Variables */
:root {
    --primary-color: #396e94;
    --secondary-color: #e7c24f;
    --accent1-color: #a43312; 
    --accent2-color: #3d373a;
    --heading-font: 'Ubuntu', sans-serif;
    --paragraph-font: 'Ubuntu', sans-serif;
    --nav-background-color: #fff; 
    --nav-link-color: #333; 
    --nav-hover-link-color: #666; 
    --nav-hover-background-color: #f0f0f0; 
}


/* Body Rule */
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

/* Headings Grouped */
h1, h2, h3, h4, h5, h6 {
    /* Your common styles for all heading elements */
    font-family: var(--heading-font);
    color: var(--primary-color);
    /* Add any additional styles you want to apply to all headings */
}


/* Header Rule */
header {
    padding: 20px;
    background-color: var(--secondary-color);
}

/* Paragraph Rule */
/* No changes needed */

/* Navigation Rules */
nav {
    background-color: var(--nav-background-color);
    padding: 10px;
}

/* Navigation Link Rules */
nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    margin-right: 20px;
}

/* Navigation Link Hover Rules */
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
